form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;

    .form-group {
        display: flex;
        flex-direction: column;

        span {
            color: red;
            font-size: 13px;
            margin-top: -7px;
        }
    }


    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    button {
        width: 100px;
        padding: 10px;
        background: #333;
        color: #fff;
        border: none;
    }
}


.errors {
    color: white;
    margin-top: -7px;
    position: absolute;
    top: 19px;
    right: 15px;
    padding: 23px 40px;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: #de283d;
    text-transform: unset;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    i,
    span {
        font-weight: 800;
        color: #fff;
        font-size: 17px;
        cursor: pointer;
    }

    i {
        font-size: 25px;
    }

    &.show {
        visibility: visible;
        opacity: 1;
    }

}