<div class="container_login">
    <app-header></app-header>

    <main class="main_container">
        <form action="">
            <h3>Log<span>in</span></h3>
            <br>
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="schtrompfName">
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
</div>