.container_schtroumpf {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;

}

.blur{
    // effet blur
    filter: blur(5px);
    pointer-events: none;
}

.schtroumpf {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 225px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    gap: 13px;
    position: relative;
    transition: all 0.3s ease-in-out;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .container_name {
        text-align: center;

        h3 {
            text-transform: capitalize;
            color: #287DBD;
        }

        span {
            font-size: 14px;
        }
    }

    .role {
        width: 100%;
        text-align: start;
    }

    .span_color {
        color: #287DBD;
        font-weight: 600;
    }

    .role_from_data {
        font-weight: 700;
        text-transform: capitalize;
    }

    i{
        position: absolute;
        border-radius: 50%;

        padding: 6px;
        cursor: pointer;
        color: #fff;
    }

    .icon_edit {
        top: 10px;
        right: 10px;
        background: #287DBD;
    }

    .icon_delete {
        top: 10px;
        left: 10px;
        background: #de283d;
        padding: 6px 7px;
    }
}