<div class="container">
    <app-update-form *ngIf="updateForm" [updateFormContainer]="updateForm"></app-update-form>

    <div class="schtroumpf" *ngFor="let schtroumpf of schtroumpfs">


        <i class="fas fa-edit icon_edit" (click)="onSelect()" *ngIf="schtroumpf._id.toString() == userId"></i>
        <img src="{{schtroumpf.imageUrl}}" alt="">

        <div class="container_name">
            <h3>{{schtroumpf.name}}</h3>
            <span>{{schtroumpf.bio}}</span>
        </div>

        <div class="role">
            <span><span class="span_color">role</span> : <span class="role_from_data">{{schtroumpf.role}}</span></span>
        </div>
    </div>
</div>