<div class="errors">
    <span></span>
    <i class="fa fa-times" aria-hidden="true" (click)="closeError()"></i>
</div>

<div class="update_form">
    <h3>Update <span>Schtroumpf</span></h3>

    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <!-- icon close -->
        <i class="fa fa-times" aria-hidden="true" (click)="closeForm()"></i>

        <div class="form-group">
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">

        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="role" formControlName="role" placeholder="Role">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl" placeholder="Image URL">
            <span class="error"
            *ngIf="updateForm.controls['imageUrl'].invalid && (updateForm.controls['imageUrl'].dirty || updateForm.controls['imageUrl'].touched)">
            Url non valide</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="bio" formControlName="bio" placeholder="Bio">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid">Submit</button>
    </form>
</div>