<header class="container_header">
    <div class="header_logo">
        <h2 class="logo">Schtr<span class="logo_span">oumpf</span></h2>
    </div>

    <nav class="header_nav" *ngIf="isLogged">
        <!-- icon acceuil -->
        <i routerLink="/home" class="fas fa-home" routerLinkActive="active"></i>
        <!-- icon profil -->
        <i routerLink="/profile" class="fas fa-user" routerLinkActive="active"></i>

        <button (click)="logout()">Logout</button>
    </nav>


    <nav class="header_nav" *ngIf="!isLogged">
        <li routerLink="/login" routerLinkActive="active">Login</li>
        <li routerLink="/signup" routerLinkActive="active">Signup</li>
    </nav>
</header>